/* Blog container */
.blog-container {
  display: grid;
  /* 75% for articles, 25% for sidebar */
  padding: 4rem 2rem;
  background-color: #feedeb;
  gap: 2rem;
  margin-top: 80px;
  height: 100%;
}

/* Left column for articles */
.blog-articles {
  max-width: 600px;
}

.blog-post {
  margin-bottom: 2rem;
  padding-bottom: 20px; /* Add padding to separate sections */
  border-bottom: 1px solid #21204c; /* Border for separation */
  text-transform: none;
}

.blog-post h2 {
  font-family: "The Seasons", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #21204c;
}

.blog-post img {
  width:50%; /* Adjusted to be responsive */
  height: auto;
  border-radius: 10px;
}

.blog-post p {
  font-family: "Antipasto", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #21204c;
}

/* Sidebar */
.sidebar {
  
  border-left: 1px solid #21204c;
  transition: transform 0.3s ease-in-out;
  width: 300px;
  position: fixed;
  right: -300px; /* Initially off-screen */
  top: 0;
  height: 100vh;
  background-color: #feedeb;
}

.sidebar-toggle {
  position: fixed;
  top: 50%; 
  right: 0; 
  transform: translateY(-50%) rotate(-90deg); /* Rotate and center the button */
  background-color: #ff6d32; 
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1001; /* Make sure button is on top of sidebar */
}

.sidebar-toggle:hover {
  background-color: #e65c00; 
}

/* Rotate back for when sidebar is open */
.sidebar-open .sidebar-toggle {
  transform: translateY(-50%) rotate(0deg);
}



.collapsed-sidebar {
  transform: translateX(-300px); /* Brings the sidebar into view */
}



/* Author section */
.author-section{
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #21204c;
}


.search-section,
.recent-posts-section {
  margin-top: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
  margin-right: 20px;
  border-bottom: 1px solid #21204c;
}

.author-section h3,
.recent-posts-section h3 {
  font-family: "Antipasto", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #21204c;
  padding-bottom: 20px; /* Add padding to separate sections */
  border-bottom: 1px solid #21204c;
}

.author-section p {
  font-family: "Antipasto", sans-serif;
  font-size: 1.25rem;
  color: #21204c;
  margin-bottom: 1rem;
}

.author-section button {
  background-color: #ff6d32;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Title for recent posts */
.title-sidebar h2 {
  font-family: "The Seasons", sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #21204c;
  text-align: left;
  text-decoration: none;
}

.title-sidebar a {
  text-decoration: none;
  color: #21204c;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .blog-container {
    grid-template-columns: 1fr; /* Stack articles and sidebar */
    padding: 3rem 1rem;
    margin-top: 10px;
  }

  .blog-articles,
  .sidebar {
    max-width: 100%;
    padding: 1rem;
  }

  .collapsed-sidebar {
    transform: translateX(-100%); /* Full width off-screen for smaller sidebar */
  }

  .blog-post h2 {
    font-size: 1.25rem; /* Adjust for smaller screens */
  }

  .author-section button,
  .search-section input {
    width: 100%; /* Full width for smaller screens */
    padding: 10px 15px;
  }
}

@media (max-width: 480px) {
  .blog-post h2 {
    font-size: 1rem; /* Smaller font size for very small screens */
  }

  .author-section button,
  .search-section input {
    padding: 8px 10px; /* Adjust for touch accessibility */
  }
}
