.about-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12vw; 
    margin-bottom: 12vw;
    background-color: #fafafa;
    flex-wrap: wrap; 
  }
  
  .about-text {
    width: 45%;
  }
  
  .about-text h2 {
    font-family: 'The Seasons', sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
    color: #21204C;
  }
  
  .about-text p {
    font-family: 'Antipasto', sans-serif;
    font-size: 18px;
    line-height: 1.6;
  }
  
  .about-image {
    width: 45%;
  }
  
  .about-image img {
    max-width: 100%;
    border-radius: 10px; 
  }

  /* Mobile styles */
@media (max-width: 768px) {
    .about-us {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px; /* Reduce padding on smaller screens */
    }
  
    .about-text,
    .about-image {
      width: 100%; /* Full width on smaller screens */
      margin-bottom: 20px; /* Add spacing between text and image */
    }
  }
  