

/* Set up the container to center its children using Flexbox */
.grid {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px; /* Space between items */
    padding: 1em;
    position: relative; /* Needed for absolute positioning inside */
}

/* Invisible element that sets the column width */
.grid-sizer {
    width: 33.333%; /* 3 columns by default */
}

/* Style for individual grid items */
.grid-item {
    background-color: #fff; /* Background color for grid items */
    border: 1px solid #ddd; /* Border for grid items */
    border-radius: 4px; /* Optional: rounded corners for grid items */
    overflow: hidden; /* Makes sure the content fits within the borders */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: adds some shadow for depth */
    margin-bottom: 10px; /* Space between items */
    cursor: pointer; /* Indicates the items are clickable */
    transition: transform 0.3s ease; /* Smooth transform on hover/click */
}

/* Ensure images are responsive and fit their containers */
.grid-item img {
    width: 100%; /* Full width of the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space below images */
}

/* Style for the title */
.grid-item h3 {
    font-family: "The Seasons", sans-serif;
    color: #21204c;
    text-align: center;
    padding: 0.5em;
    margin: 0; /* Removes default margin */
    background-color: #FDBEB5; /* Slight background for the title area */
    border-top: 1px solid #ddd; /* Adds a border between image and title */
}

/* Active class for zoom effect */
.grid-item.active {
    transform: scale(1.5); /* Scale up the item */
    z-index: 10; /* Ensure it's above other items */
    position: absolute; /* Take it out of flow for the scale effect */
    top: 0; /* Align top edge with grid container */
    left: 0; /* Align left edge with grid container */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Enhance shadow for depth */
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .grid {
      justify-content: space-around;
    }
  
    .grid-sizer {
        width: calc(50% - 10px); /* 2 columns for medium screens */
      }
}

@media (max-width: 768px) {
    .grid {
        justify-content: space-between;
    }
  
    .grid-sizer {
        width: calc(50% - 10px); /* 2 columns for small screens */
      }
    
  
    .grid-item {
        width: 100%; /* Full width grid items on small screens */
    }
}


@media (max-width: 480px) {
    .grid {
      justify-content: center;
    }
  
    .grid-sizer {
      width: 100%; /* 1 column for extra small screens */
    }
  
    .grid-item {
      max-width: 90%; /* Less than full width on extra small screens */
    }
  }
