.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
}

.logo-image img {
  width: 50%;
  height: 50%;
}

.company-name{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.company-name-h1 {
  font-family: 'The Seasons', sans-serif;
  font-size: 40px;
  
  color: #21204c;
}

.company-name-h2{
  font-family: 'Antipasto', sans-serif;
  font-size: 24px;
  font-weight: 200;
  color: #21204c;
}

.menu-button {
  display: none;
  font-size: 36px;
  background: none;
  border: none;
  cursor: pointer;
}

.nav {
  transition: all 0.3s;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-list a {
  text-decoration: none;
  color: #191A34;
  font-family: 'Antipasto', sans-serif;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: #D7242A;
}

@media (max-width: 768px) {
  .menu-button {
    display: block;
  }

  .nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #f0f0f0;
  }

  .nav.open {
    display: flex;
  }

  .nav-list {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .nav-list a {
    font-size: 18px;
    padding: 10px;
    width: 100%;
    text-align: center;
  }
}

.contact-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-button:hover {
  background-color: #D7242A;
}
