body {
  margin: 0;
  padding-top: 12vw;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0; 
  padding: 0; 
}

.logo-and-image {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.logo-image img {
  width: 100%;
  height: 100%;
}

.logo-image-banner img {
  width: 30%; /* Adjust based on actual size */
  height: 30%; /* Adjust to fit within the banner */
  margin: 0 20px; /* Adds margin on both sides */
}

.company-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.company-name-h1 {
  font-family: "The Seasons", sans-serif;
  font-size: 3em;
  color: #21204c;
}

.company-name-h2 {
  font-family: "Antipasto", sans-serif;
  font-size: 2em;
  font-weight: 200;
  color: #21204c;
  margin-top: 1px;
}

.nav-banner {
  display: flex;
  background-color: #21204c;
  width: 100vw;
  height:12vw;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.menu-button {
  display: none;
  font-size: 0.7em;
  background: none;
  border: none;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  font-size: 2em;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 10%;
  display: flex;
  align-items: center;
 
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  font-family: "Antipasto", sans-serif;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: #d7242a;
}

@media (max-width: 768px) {
  .menu-button {
    display: block;
  }

  .nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #f0f0f0;
  }

  .nav.open {
    display: flex;
  }

  .nav-list {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .nav-list a {
    font-size: 18px;
    padding: 10px;
    width: 100%;
    text-align: center;
  }
}

.contact-button {
  background-color: #ff6d32;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-button:hover {
  background-color: #d7242a;
}
