.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.logo-and-image {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logo-animation {
  width: 100%;
  height: 100%;
}

.logo-image-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
}

.logo-image-banner img {
  width: 20%;
  height: auto;
  margin-right: 20px;
}

.company-name-h2-banner {
  font-family: "The Seasons", sans-serif;
  font-size: 3rem;
  color: white;
  margin-left: 20px;
}

.text-animations {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  gap: 20px;
}

.company-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.company-name-h1 {
  display: flex;
  flex-direction: row;
  font-family: "The Seasons", sans-serif;
  font-size: 1.6rem;
  color: #21204c;
}

.company-name-h2 {
  font-family: "Antipasto", sans-serif;
  font-size: 1.1rem;
  font-weight: 200;
  color: #21204c;
  margin-top: 1px;
}

.scroll-down-arrow {
  position: absolute;
  bottom: 10%; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  font-size: 4rem; /* Adjust size as needed */
  cursor: pointer;
  z-index: 4;
  border: 2px solid #21204c;
  border-radius: 50%;
  padding: 0.5rem;
  /* Additional styling */
}
